
h1 {
  text-align: center;
  color: deepskyblue;
  font-family: 'Open Sans'; }

.board {
  width: 600px;
  height: 400px;
  background: #DDD;
  margin: 20px auto;
  position: relative;
  border: 5px solid #EEE; }

.tile {
  position: absolute;
  width: 150px;
  height: 100px; }
