
h1 {
  text-align: center;
  color: deepskyblue;
  font-family: 'Open Sans'; }

.board {
  width: 600px;
  height: 400px;
  background: #DDD;
  margin: 20px auto;
  position: relative;
  border: 5px solid #EEE; }

.tile {
  position: absolute;
  width: 150px;
  height: 100px; }

.elem {
  left: 50%;
  margin-left: -75px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 20px; }
  .elem.food {
    background-image: url(../images/food.svg); }
  .elem.water {